* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  background-color: hsl(204, 43%, 93%);
}

.container {
  width: 85%;
  margin: 4rem auto; /* 64px */
  border: none;
  display: grid;
  grid-template-areas:
    "community"
    "subscription"
    "about";
}

.item {
  padding: 1.5rem;
}

.community {
  background-color: hsl(0, 0%, 100%);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  grid-area: community;
}

.community__title {
  /* color: hsl(179, 47%, 52%); */
  color: hsl(179, 61%, 44%);
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
}

.community__text:nth-of-type(1) {
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 1.1rem;
}

.community__text:nth-of-type(2) {
  color: hsl(218, 22%, 67%);
  font-size: 0.8rem;
  line-height: 2;
}

.subscription {
  background-color: hsl(179, 61%, 44%);
  color: hsl(0, 0%, 100%);
  grid-area: subscription;
}

.subscription__title {
  font-size: 1.05rem;
  margin-bottom: 1.1rem;
}

.subscription__text:nth-of-type(1) {
  margin-bottom: 0.3rem;
}

.subscription__text:nth-of-type(2) {
  font-weight: lighter;
  margin-bottom: 1.5rem;
}

.subscription__btn {
  width: 100%;
  font-family: "Karla", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: hsl(71, 73%, 54%);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 1px 20px 0.5px hsl(169.7, 26.1%, 43.5%);
  transition: all 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}

.subscription__btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(71, 73%, 54%);
}

.subscription__btn:active {
  background-color: hsl(0, 0%, 100%);
  color: hsl(179, 61%, 44%);
}

.about {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: hsl(179, 47%, 52%);
  color: hsl(0, 0%, 100%);
  grid-area: about;
}

.about__title {
  font-size: 1.05rem;
  margin-bottom: 1.1rem;
}

.about__text {
  font-weight: lighter;
  font-size: 0.8rem;
  line-height: 1.5;
}

/* Modificators */
.community--color {
  color: hsl(71, 73%, 54%);
}

.subscription--price {
  font-size: 1.8rem;
  font-weight: bold;
  padding-right: 0.5rem;
}

.subscription--month {
  opacity: 0.5;
  position: relative;
  bottom: 0.3rem;
}

@media (min-width: 860px) {
  .container {
    width: 42%;
    max-width: 605px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "community community"
      "subscription about";
  }

  .item {
    padding: 2rem;
  }

  .community__title {
    font-size: 1.4rem;
  }

  .community__text:nth-of-type(2) {
    font-size: 0.9rem;
    line-height: 1.8;
  }

  .community__text:nth-of-type(1) {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .subscription {
    border-bottom-left-radius: 0.25rem;
  }

  .about {
    border-bottom-right-radius: 0.25rem;
  }
}
